name: Deploy Backend

# Kích hoạt khi có push lên nhánh main
on:
    push:
        branches:
            - main

jobs:
    deploy-backend:
        runs-on: self-hosted # Sử dụng runner tự quản trên VPS
        steps:
            # Bước 1: Tải mã nguồn từ repository về VPS
            - name: Checkout code
              uses: actions/checkout@v2

            # Bước 2: Kiểm tra người dùng hiện tại
            - name: Check current user
              run: whoami

            # Bước 3: Tạo file .env với các thông tin cấu hình
            - name: Create .env file
              run: |
                  echo "POSTGRES_HOST=103.163.25.160" > .env
                  echo "POSTGRES_PORT=5432" >> .env
                  echo "POSTGRES_USER=postgres" >> .env
                  echo "POSTGRES_DB=vsat" >> .env
                  echo "POSTGRES_SYNC=true" >> .env
                  echo "POSTGRES_LOGGING=true" >> .env
                  echo "MONGO_URI=mongodb://localhost:27017/nest" >> .env
                  echo "MAIL_USER=vsat.center.official@gmail.com" >> .env
                  echo "ACCESS_TOKEN_KEY=${{ secrets.ACCESS_TOKEN_KEY }}" >> .env
                  echo "API_KEY=${{ secrets.API_KEY }}" >> .env
                  echo "MAIL_PASSWORD=${{ secrets.MAIL_PASSWORD }}" >> .env
                  echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
                  echo "REFRESH_TOKEN_KEY=${{ secrets.REFRESH_TOKEN_KEY }}" >> .env

            - name: Stop and clean up old containers
              run: docker compose down || true

            # Bước 4: Thiết lập Docker Compose và khởi động container backend
            - name: Build and Deploy Backend with Docker Compose
              run: docker compose -f compose.yaml up --build -d
